<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report Infomation VM</title>
  <style>
    table {
      width: 80%;
      border-collapse: collapse;
      margin: 20px auto;
    }
    th, td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

  <table>
    <thead>
      <tr>
        <th></th> <!-- Empty top-left cell -->
        <th>IP</th>
        <th>Project Name</th>
        <th>OS Ver</th>
        <th>OS-User/Passwd</th>
        <th>Database Ver</th>
        <th>MySQL-Info</th>
        <th>Log Server</th>
        <th>RequestedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1733</th>
        <td>172.16.99.226/24</td>
        <td>pj-huydv3</td>
        <td>Ubuntu-20.04</td>
        <td>devadmin/Y?'~R$8W:bM4YVz</td>
        <td>10.6</td>
        <td>Database Name: database_name<br>MySQL User: dbadmin<br>MySQL Password: Y?'~R$8W:bM4YVz </td>
        <td>172.16.99.207:12514</td>
        <td>2025-01-16T10:31:57.762060Z</td>
      </tr>
    </tbody>
  </table>

</body>
</html>
